//一个广泛使用的转码器，可以将ES6代码转为ES5代码，从而在现有环境执行
//http://www.ruanyifeng.com/blog/2016/01/babel.html

{
//  字段设定转码规则，官方提供以下的规则集，你可以根据需要安装。
  "presets": [
    ["env", { "modules": false }],
    "stage-2"
  ],

  // 转码的一些插件
  "plugins": ["transform-runtime"],
  "comments": false,
  "env": {
    "test": {
      "presets": ["env", "stage-2"],
      "plugins": [ "istanbul" ]
    }
  }
}
